body{
    background-color: rgb(247, 0, 255);
    justify-content: center;
    align-items: center;
}

.container{
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    min-height: 100%;
}

h1{
    transition: color 0.3s;
    color:rgb(0, 255, 255);

}

body.light-mode{
    background-color: rgb(218, 215, 213);
}
.container.light-mode{
    background-color: cornflowerblue;
    box-shadow: 0 0 10px rgba(192, 50, 7, 0.897);
}
h1.light-mode{
    color: cadetblue;
}

body.dark-mode{
    background-color: black;
    color: dimgray;
}

.container.dark-mode{
    background-color: antiquewhite;
    box-shadow: 0 0 10px rgba(78, 137, 185, 0.897);
}

#dark-mode-toggle{
    background-color: coral;
    color: crimson;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

}
#dark-mode-toggle:hover{
    background-color: chartreuse;

}
workout-form{
    margin-top: 20px;
}

label{
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

input[type='text'],
input[type='number']{
    width: 100%;
    padding: 10px;
    margin: 5px,0;
    border: 1px solid #e75252;
    border-radius: 4px;
}
button{
    background-color: khaki;
    color: blue;
    border: none;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.2s;

}
button:hover{
    background-color: darkgreen;
}
 ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    background-color: #ddcf0e;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
  }
  
  .delete-button {
    background-color: #e74c3c;
    color: #1b1313;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  
  body.dark-mode ul li {
    background-color: #444;
    color: #fff;
  }

